<h1>User Information</h1>

<p><%= image_tag(@user.userpic) if @user.userpic? %></p>
<p>Name: <%= "#{@user.first_name} #{@user.last_name}" %> </p>
<p>Phone: <%= @user.phone %> </p>
<p>Current Location: <%= @user.location.name %></p>
<p>Skill Level: <% @user.skill do |level| %><%= level.name %><% end %></p>


