<h1>User Information</h1>

<p><%= image_tag(@user.userpic) if @user.userpic? %></p>
<p>Name: <%= "#{@user.first_name} #{@user.last_name}" %> </p>
<p>Phone: <%= @user.phone %> </p>
<p>Current Location: <%= @user.location.name %></p>
<p>Skill Level: </p>
<div>
	<% if @user != current_user %>
	<%= form_for [@location, @group], :html => {:multipart => true} do |f| %>
		<%= f.hidden_field :location_id, :value => params[:location_id] %>
		<%= f.submit "Join" %>
	<%= link_to "Join", create_location_group_path(@user.location_id) %>
	<% end %>
</div>